article {
  /* max-width: 65ch;
  margin-inline: auto; */

  --gap: 1rem;
  --full: minmax(var(--gap), 1fr);
  --content: minmax(0, 65ch);
  --feature: minmax(0, 3rem);

  display: grid;
  grid-template-columns:
    [full-start] var(--full)
    [feature-start] var(--feature)
    [content-start] var(--content) [content-end]
    var(--feature) [feature-end]
    var(--full) [full-end];

  > * {
    grid-column: content;
  }

  blockquote {
    grid-column: feature;
  }

  img {
    grid-column: full;
  }
}
