---
const { cardContent } = Astro.props;
---

<ul class="full-width">
  {
    cardContent.map((card) => (
      <li>
        <h3>{card.title}</h3>
        <p>{card.body}</p>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;

    display: flex;
    gap: var(--card-gap);
    overflow-x: auto;

    li {
      color: var(--card-text-color);
      background-color: var(--card-background);
      padding: var(--card-padding);
      border-radius: var(--card-border-radius);

      flex-basis: min(400px, 90%);
      flex-shrink: 0;
    }
  }
</style>
